$bg-color: #272424;
$text-color: rgb(7, 9, 150);
$navbar-bg-color: rgb(25, 11, 107);

// color styles 
.alibg{
    background-color: $bg-color;
}
.text-ali{
    color: $text-color;
}
.bg-ali{
    background-color: $navbar-bg-color;
}